:root {
  --tsm-color-primary: #2979ff;
  --tsm-color-success: #00c853;
  --tsm-color-warning: #ff9100;
  --tsm-color-error: #ff4d4f;
  --tsm-color-info: #909399;
  --tsm-color-text-base: #303133;
  --tsm-color-text-secondary: #646a73;
  --tsm-color-bg-base: #f5f6f7;
  --tsm-color-bg-container: #ffffff;
  --tsm-color-border: #ebedf0;
  --tsm-border-radius: 4px;
  --tsm-font-size-base: 14px;
}

page {
  --tsm-color-primary: #2979ff;
  --tsm-color-success: #00c853;
  --tsm-color-warning: #ff9100;
  --tsm-color-error: #ff4d4f;
  --tsm-color-info: #909399;
  --tsm-color-text-base: #303133;
  --tsm-color-text-secondary: #646a73;
  --tsm-color-bg-base: #f5f6f7;
  --tsm-color-bg-container: #ffffff;
  --tsm-color-border: #ebedf0;
  --tsm-border-radius: 4px;
  --tsm-font-size-base: 14px;
}
